p { color: rgb(221, 0, 255); }
      ol { display: flex; }
      li { margin: 20px; }
.special {
    color: purple;
}
p {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
}
#important-information {
    font-weight: bold;
}
button{
  transition: 300ms;
  cursor: pointer;
}
button:hover{
    
    color: whitesmoke;
    opacity: 30%;
      background-color: rgb(0, 0,0)
      
}
    .sizing {
        width: 1200px;
        height: 100%;
        box-sizing: border-box;
        border: 4px solid green ;
        padding: 16px;
        margin: 8px;
    }
  .parent {
    width: 400px;            
    height: 90px;
    background-color: yellow;
    position: relative;
  }
  .child1{
    width: 400px;
    height: 30px;
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
  }
  .child2{
    width: 400px;
    height: 30px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
  }    
  .animation{
    animation: pointdown 1000ms infinite alternate-reverse;
  }
  @keyframes pointdown {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(16px);
    }
  }