* {
    background-color: black;
    color: aliceblue;
}
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgb(90, 152, 90);
    display: none;

}
.open .sidebar{
    display: block;
}
button {

    background-color:rgb(46, 45, 45);
    border-radius: 10px;
    
}
button:hover{
    background-color: rgb(90, 152, 90);
    box-shadow: var(--shadow);
    transform: translateY(-3px);
}
h2 {
    background-color: rgb(90, 152, 90);
    text-align: center;
}
